<div class="resetPassword">
    <h1>Cambio de Contraseña</h1>
    <form action="/changeForgetPassword" method="POST">
        <div class="form-group input-reset">
            <input type="hidden" name="userId" class="form-control" id="userId" value={{info.userId}}>
            <input type="hidden" name="token" class="form-control" id="token" value={{info.token}}>
        </div>
        <div class="form-group input-reset">
            <label for="exampleInputPassword">Nueva Contraseña</label>
            <input type="password" name="password" class="form-control" id="password">
        </div>
        <div class="form-group input-reset">
            <label for="exampleInputPassword2">Repetir Contraseña</label>
            <input type="password" name="repeatPassword" class="form-control" id="repeatPassword">
        </div>
        <div class="textError">{{errorMessage}}</div>
        <button type="submit" class="btn btn-secondary">Guardar</button>
    </form>
</div>